@model GiftShop.Entity.Entities.ProductImage

@{
    ViewData["Title"] = "Ürün Resmi Sil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alt)
        </dd>
        <dt class="col-sm-2">
            Resim Önizleme
        </dt>
        <dd class="col-sm-10">
            <img src="~/Img/@Model.ImageUrl" alt="@Model.Alt" class="img-thumbnail" style="max-width: 300px; height: auto;" />
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductImageID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Dön</a>
    </form>
</div>
