<section class="section collection" id="collection" aria-label="collection" data-section>
    <div class="container">

        <ul class="collection-list">

            <li>
                <div class="collection-card has-before hover:shine">

                    <h2 class="h2 card-title" style="color:#D8BFD8; font-family: 'Arial Black', Gadget, sans-serif; font-weight: bold; text-shadow: 1px 1px 2px #000;">Anı Koleksiyonu</h2>


                    <a href="@Url.Action("Index", "Products", new { categoryId = 39 })" class="btn-link">
                        <span class="span">Alışverişe Başla</span>

                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                    </a>

                    <div class="has-bg-image" style="background-image: url('@Url.Content("~/Img/02a25177-c38c-41d8-b9cf-6a8ae20acdd2.jpg")')"></div>

                </div>
            </li>

            <li>
                <div class="collection-card has-before hover:shine">

                    <h2 class="h2 card-title" style="color:#D8BFD8; font-family: 'Arial Black', Gadget, sans-serif; font-weight: bold; text-shadow: 1px 1px 2px #000;">
                        Özel Buketler
                    </h2>


                    <a href="@Url.Action("Index", "Products", new { categoryId = 11 })" class="btn-link">
                        <span class="span">Alışverişe Başla</span>

                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                    </a>

                    <div class="has-bg-image" style="background-image: url('@Url.Content("~/Img/vbt1207-1-8dd519be24c8186-bc5c77ce.jpg")')"></div>

                </div>
            </li>

            <li>
                <div class="collection-card has-before hover:shine">

                    <h2 class="h2 card-title" style="color:#D8BFD8; font-family: 'Arial Black', Gadget, sans-serif; font-weight: bold; text-shadow: 1px 1px 2px #000;">Tatlı Sürpriz</h2>


                    <a href="@Url.Action("Index", "Products", new { categoryId = 23 })" class="btn-link">
                        <span class="span">Alışverişe Başla</span>

                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                    </a>

                    <div class="has-bg-image" style="background-image: url('@Url.Content("~/Img/pembe-ve-beyaz-gul-desenli-kekler-lezzet-buketi-gr2418-1d1dcfe3-6cd7-4858-a032-868e4157da9b.jpg")')"></div>

                </div>
            </li>

        </ul>

    </div>
</section>
