<section class="section shop" id="shop" aria-label="shop" data-section>
    <div class="container">

        <div class="title-wrapper">
            <h2 class="h2 section-title" style="color:#D8BFD8; font-family: 'Arial Black', Gadget, sans-serif; font-weight: bold; text-shadow: 1px 1px 2px #000;">Gül Koleksiyonu</h2>

            <a href="@Url.Action("Index", "Products", new { categoryId = 11 })" class="btn-link">
                <span class="span">Tüm Koleksiyonu Gör</span>

                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>
        </div>

        <ul class="has-scrollbar">

            <li class="scrollbar-item">
                <div class="shop-card">

                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                        <img src="@Url.Content("~/Img/at4276-1-8dcf9c7316e4177-32853a57.jpg")" width="540" height="720" loading="lazy"
                             alt="Facial cleanser" class="img-cover">

                        <div class="card-actions">
                            <a href="/Cart/Add?ProductID=25" class="action-btn" aria-label="Sepete Ekle">
                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                            </a>

                        </div>
                    </div>

                    <div class="card-content">

                        <div class="price">

                            <span class="span">
                                650₺
                            </span>
                        </div>

                        <h3>
                            <a href="#" class="card-title">
                                11'li Beyaz Gül Buketi
                            </a>
                        </h3>



                    </div>

                </div>
            </li>

            <li class="scrollbar-item">
                <div class="shop-card">

                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                        <img src="@Url.Content("~/Img/pasabahce-kristal-cam-vazoda-7-pembe-gul-vbt345-0b9fc38f-4927-443d-b0c7-1cced72db9fe.jpg")" width="540" height="720" loading="lazy"
                             alt="Facial cleanser" class="img-cover">


                        <div class="card-actions">

                            <a href="/Cart/Add?ProductID=27" class="action-btn" aria-label="Sepete Ekle">
                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                            </a>

                        </div>
                    </div>

                    <div class="card-content">

                        <div class="price">
                            <span class="span">760₺</span>
                        </div>

                        <h3>
                            <a href="#" class="card-title">
                                Pembe ve Sarı Kurdeleli Cam Vazoda 7 Pembe Gül
                            </a>
                        </h3>
                    </div>

                </div>
            </li>

            <li class="scrollbar-item">
                <div class="shop-card">

                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                        <img src="@Url.Content("~/Img/at404-1-8dd07b9a3b9f5ce-920f0003.jpg")" width="540" height="720" loading="lazy"
                             alt="Facial cleanser" class="img-cover">


                        <div class="card-actions">

                            <a href="/Cart/Add?ProductID=1075" class="action-btn" aria-label="Sepete Ekle">
                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                            </a>


                        </div>
                    </div>

                    <div class="card-content">

                        <div class="price">
                            <span class="span">3000₺</span>
                        </div>

                        <h3>
                            <a href="#" class="card-title">
                                60 Kırmızı Gül ile Aşkların En Büyüğü
                            </a>
                        </h3>



                    </div>

                </div>
            </li>

            <li class="scrollbar-item">
                <div class="shop-card">

                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                        <img src="@Url.Content("~/Img/vbt1207-1-8dd519be24c8186-bc5c77ce.jpg")" width="540" height="720" loading="lazy"
                             alt="Facial cleanser" class="img-cover">


                        <div class="card-actions">

                            <a href="/Cart/Add?ProductID=1079" class="action-btn" aria-label="Sepete Ekle">
                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                            </a>
                        </div>
                    </div>

                    <div class="card-content">

                        <div class="price">
                            <span class="span">900₺</span>
                        </div>

                        <h3>
                            <a href="#" class="card-title">
                                Koyu Somon Bukette 10 Lila Gül
                            </a>
                        </h3>


                    </div>

                </div>
            </li>

            <li class="scrollbar-item">
                <div class="shop-card">

                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                        <img src="@Url.Content("~/Img/at4282-1-8dd193f5ce996c0-1e31b51c.jpg")" width="540" height="720" loading="lazy"
                             alt="Facial cleanser" class="img-cover">
                        <div class="card-actions">
                            <a href="/Cart/Add?ProductID=1076" class="action-btn" aria-label="Sepete Ekle">
                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                            </a>


                        </div>
                    </div>

                    <div class="card-content">

                        <div class="price">

                            <span class="span">1300₺</span>
                        </div>

                        <h3>
                            <a href="#" class="card-title">
                                Turuncu Güller Çiçek Buketi
                            </a>
                        </h3>


                    </div>

                </div>
            </li>

            <li class="scrollbar-item">
                <div class="shop-card">

                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                        <img src="@Url.Content("~/Img/24995.jpg")" width="540" height="720" loading="lazy"
                             alt="Facial cleanser" class="img-cover">


                        <div class="card-actions">

                            <a href="/Cart/Add?ProductID=1092" class="action-btn" aria-label="Sepete Ekle">
                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                            </a>
                        </div>
                    </div>

                    <div class="card-content">

                        <div class="price">
                            <span class="span">1500₺</span>
                        </div>

                        <h3>
                            <a href="#" class="card-title">
                                Güllerin Sonsuz Melodisi Kutuda Pembe Güller
                            </a>
                        </h3>

                    </div>

                </div>
            </li>

        </ul>

    </div>
</section>
