@model GiftShop.WebUI.Models.HomePageViewModel


<section class="section shop" id="shop" aria-label="shop" data-section>
    <div class="container">

        <div class="title-wrapper">
            <h2 class="h2 section-title" style="color:#D8BFD8; font-family: 'Arial Black', Gadget, sans-serif; font-weight: bold; text-shadow: 1px 1px 2px #000;">Papatya & Gerbera Koleksiyonu</h2>

            <a href="@Url.Action("Index", "Products", new { categoryId = 13 })" class="btn-link">
                <span class="span">Tüm Koleksiyonu Gör</span>

                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>
        </div>

        <ul class="has-scrollbar">

            <li class="scrollbar-item">
                <div class="shop-card">

                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                        <img src="@Url.Content("~/Img/beyaz-papatya-aranjmani-at3058-ba27752c-0f18-4763-8eb9-a70aeeb15d05.jpg")" width="540" height="720" loading="lazy"
                             alt="Facial cleanser" class="img-cover">

                        <div class="card-actions">
                            <a href="/Cart/Add?ProductID=1118" class="action-btn" aria-label="Sepete Ekle">
                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                            </a>
                        </div>

                    </div>

                    <div class="card-content">

                        <div class="price">

                            <span class="span">750₺</span>
                        </div>

                        <h3>
                            <a href="#" class="card-title">
                                Beyaz Papatya Aranjmanı
                            </a>
                        </h3>



                    </div>

                </div>
            </li>

            <li class="scrollbar-item">
                <div class="shop-card">

                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                        <img src="@Url.Content("~/Img/at4255-1-8dd193faa9f5be8-59d6eb46.jpg")" width="540" height="720" loading="lazy"
                             alt="Facial cleanser" class="img-cover">

                        <div class="card-actions">
                            <a href="/Cart/Add?ProductID=1119" class="action-btn" aria-label="Sepete Ekle">
                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                            </a>
                        </div>
                    </div> <!-- card-banner burada kapanmalı -->

                    <div class="card-content">
                        <!-- Sonra card-content burada açılmalı -->
                        <div class="price">
                            <span class="span">650₺</span>
                        </div>
                        <h3>
                            <a href="#" class="card-title">
                                Pembe Papatyalar Çiçek Buketi

                            </a>
                        </h3>
                    </div>



                </div>
            </li>

            <li class="scrollbar-item">
                <div class="shop-card">

                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                        <img src="@Url.Content("~/Img/at5241-1-8dcdbb9fc8eede5-934a642f.jpg")" width="540" height="720" loading="lazy"
                             alt="Facial cleanser" class="img-cover">


                        <div class="card-actions">
                            <a href="/Cart/Add?ProductID=1115" class="action-btn" aria-label="Sepete Ekle">
                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                            </a>
                         
                        </div>
                    </div>

                    <div class="card-content">

                        <div class="price">
                            <span class="span">500₺</span>
                        </div>

                        <h3>
                            <a href="#" class="card-title">
                                Bej Çizgili Vazoda Beyaz Papatyalar
                            </a>
                        </h3>


                    </div>

                </div>
            </li>

            <li class="scrollbar-item">
                <div class="shop-card">

                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                        <img src="@Url.Content("~/Img/bukette-pembe-papatyalar-kcm65753070-0b163425-8593-4c3d-a757-f07b9678722e.jpg")" width="540" height="720" loading="lazy"
                             alt="Facial cleanser" class="img-cover">


                        <div class="card-actions">
                            <a href="/Cart/Add?ProductID=1117" class="action-btn" aria-label="Sepete Ekle">
                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                            </a>
                            
                        </div>
                    </div>

                    <div class="card-content">

                        <div class="price">
                            <span class="span">650₺</span>
                        </div>

                        <h3>
                            <a href="#" class="card-title">
                                Pembe Papatyalar Çiçek Buketi
                            </a>
                        </h3>


                    </div>

                </div>
            </li>

            <li class="scrollbar-item">
                <div class="shop-card">

                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                        <img src="@Url.Content("~/Img/at5392-1-8dd3194653d870e-d751e240.jpg")" width="540" height="720" loading="lazy"
                             alt="Facial cleanser" class="img-cover">



                        <div class="card-actions">
                            <a href="/Cart/Add?ProductID=1116" class="action-btn" aria-label="Sepete Ekle">
                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                            </a>
                          
                        </div>
                    </div>

                    <div class="card-content">

                        <div class="price">
                            <span class="span">500₺</span>
                        </div>

                        <h3>
                            <a href="#" class="card-title">
                                Beyaz Papatya Çiçek Buketi
                            </a>
                        </h3>

                    </div>
                </div>
            </li>

            <li class="scrollbar-item">
                <div class="shop-card">

                    <div class="card-banner img-holder" style="--width: 540; --height: 720;">
                        <img src="@Url.Content("~/Img/at5223-1-8dd138c3c5e1bad-38a407bd.jpg")" width="540" height="720" loading="lazy"
                             alt="Facial cleanser" class="img-cover">

                        <div class="card-actions">
                            <a href="/Cart/Add?ProductID=1124" class="action-btn" aria-label="Sepete Ekle">
                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                            </a>

                        </div>
                    </div>

                    <div class="card-content">

                        <div class="price">
                            <span class="span">600₺</span>
                        </div>

                        <h3>
                            <a href="#" class="card-title">
                                Bej Çizgili Vazoda Pembe Gerbera Çiçekleri
                            </a>
                        </h3>

                    </div>

                </div>
            </li>

        </ul>

    </div>
</section>


