@model GiftShop.Entity.Entities.OrderDetail

@{
    ViewData["Title"] = "Sipariş Detayı";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Sipariş ID</dt>
        <dd class="col-sm-10">@Model.OrderID</dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt class="col-sm-2">Sipariş Durumu</dt>
        <dd class="col-sm-10">
            @Model.Order?.Status
        </dd>

        <dt class="col-sm-2">Ürün Adı</dt>
        <dd class="col-sm-10">
            @Model.Product?.Name
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" asp-route-orderId="@Model.OrderID">Geri</a>
</div>
